

<div class="md:container md:mx-auto">
   
    <section class="bg-white dark:bg-gray-900 py-8 lg:py-16">
       
        <div class="max-w-5xl mx-auto px-4">
            <div>
                
                <h1 class="text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">{{postDetails.title}}</h1>
                <p>{{postDetails.body}}</p>
            </div>
            <br>
          
            <a (click)="goescommentpage(postDetails.id)"   class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Add Comment
            </a>
            <br>
          <div *ngIf="c_comment"  class="flex justify-between items-center mb-6">
              <h2 class="text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">Discussion</h2>
          </div>
         
          <article  *ngIf="c_comment" class="p-6 mb-6 text-base bg-white rounded-lg dark:bg-gray-900">
              <footer class="flex justify-between items-center mb-2">
                  <div class="flex items-center">
                      <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white"><img
                              class="mr-2 w-6 h-6 rounded-full"
                              src="https://flowbite.com/docs/images/people/profile-picture-2.jpg"
                              alt="Michael Gough">{{c_user}}</p>
                      <p class="text-sm text-gray-600 dark:text-gray-400"><time pubdate datetime="2022-02-08"
                              title="February 8th, 2022">{{todaysdate | date:'fullDate'}}</time></p>
                  </div>
             
     
              </footer>
              <p class="text-gray-500 dark:text-gray-400">{{c_comment}}</p>
          </article>
   

        </div>
      </section>
</div>
<router-outlet></router-outlet>