
 <!-- {{title}} -->
 

 <!-- <app-add-comment></app-add-comment> -->
<app-header></app-header>


<!-- // service data pass from app -->
<!-- <ul>
  <li *ngFor="let data of memberData">

    {{data.m_name}}
  </li>
</ul> -->



<!-- 
<ul>
  <li *ngFor="let data of users">

    name :{{data.name}} ,
    age :{{data.age}}
  </li>
</ul> -->

<app-footer></app-footer>
<!-- <app-no-page></app-no-page> -->
<!-- parent to child data send  -->
<!-- <app-child [item]="parent_data_pass_to_child"></app-child>
<button (click)="updateChild()" class="border border-gray-300" >updatechild</button> -->
 
<!-- child to parent data send -->
<!-- <app-child (updateDataEvent)="updateData($event)"></app-child>
{{dataset}} -->
 <!-- <app-functiondelcation></app-functiondelcation> -->
  <!-- <app-signup></app-signup> -->
<!-- <app-login></app-login>  -->
<!-- <app-reactive-form></app-reactive-form> -->
<!-- {{20 |usdBdt:105}} -->

<!-- custom directive -->
<!-- <h2 appRedEl>hello directive</h2>


<h2 appRedEl>hello directive</h2>

<h2 appRedEl>hello directive</h2> -->

<!-- <app-about></app-about> -->
<!-- 
<app-post></app-post> -->
<router-outlet></router-outlet>