 <nav class="headers">
    <img     src="assets/angular400.jpg"   alt="">

    <ul>
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="about"> About</a></li> 

        <!-- dynamic route -->
        <!-- <li><a routerLink="about/1"> About</a></li> 
        <li><a routerLink="about/2"> About</a></li> 
        <li><a routerLink="about/3"> About</a></li>  -->

        <li><a routerLink="login">Login</a></li>
        <li><a routerLink="signup"> Sign up</a></li>
        <li><a routerLink=""> Users</a></li>
        <li><a routerLink="">Post </a></li>
    </ul>

 </nav>
 <router-outlet></router-outlet>