@tailwind base;
@tailwind components;
@tailwind utilities;
/* .footer{
    position: absolute;
    background-color: skyblue;
    width: 100%;
    
    bottom: -92px;
  
    padding: 10px;
    color: #fff;
} */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: skyblue;
    padding: 10px;
    text-align: center;
    color: #fff;
  }